<div id="l-app-coninter">
  <div class="l-login" my-login>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div>
          <p><span class="fa fa-user fa-5x"></span></p>
          <h4 ng-show="isRegistry">测试</h4>
          <h4 ng-show="!isRegistry">ceshi</h4>
        </div>
        <form>
          <div class="l-form-content">
            <div class="form-group">
              <input class="form-control input-lg input-underline" type="text" placeholder="邮箱" ng-model="vmLogin.userInfo.email">
            </div>
            <div class="form-group l-auth-get" ng-show="isRegistry">
                <input class="form-control auth-input input-underline" type="text" placeholder="验证码" ng-model="vmLogin.userInfo.auth_code">
                <button class="btn btn-primary auth-button" ng-click="vmLogin.getAuthCode()" ng-disabled="vmLogin.getAuthCodeStart">
                  <span ng-show="!vmLogin.getAuthCodeStart">获取验证码</span>
                  <span ng-show="vmLogin.getAuthCodeStart">{{vmLogin.leftTime}}</span>
                </button>
            </div>
            <div class="form-group">
              <input class="form-control input-lg input-underline" type="password" placeholder="Password" ng-model="vmLogin.userInfo.password">
            </div>
          </div>
          <div class="l-btn-content" ng-show="!isRegistry">
            <button class="btn btn-primary btn-sm" ng-click="vmLogin.go_main_state()">登录</button>
            <button class="btn btn-primary btn-sm" ng-click="vmLogin.registry()">注册</button>
          </div>
          <div class="l-btn-content" ng-show="isRegistry">
            <button class="btn btn-primary btn-sm" ng-click="vmLogin.go_main_state()">注册</button>
            <button class="btn btn-primary btn-sm" ng-click="vmLogin.go_back()">返回</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
