.l-header {
  .line-height-50{
    line-height: 50px;
  }
  .title {
    padding: 0 30px;
  }
  .message-first {
    float: left;
  }
  .title-font-24 {
    font-size: 24px;
  }
  .bg-dropdown {
    color: #000;
    background-color: red;
  }
}
