.l-login {
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #fff;
  padding: 3em;
  text-align: center;
  background-color: #222;
  .input-underline {
    border: 0;
    background: 0;
    box-shadow: none;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.5);
    color: #fff;
    border-radius: 0;
  };
  .l-form-content{
    padding: 40px 0;
    .l-auth-get{
      text-align: left;
      .auth-input{
        display: inline-block;
        width: 35%;
        font-size: 20px;
      }
      .auth-button{
        display: inline-block;
      }
    }
  };
  .l-btn-content{
    button {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}
