<div class="page">
  <div class="panel">
    <div class="panel-heading">
      <i class="fa fa-pencil fa-1x"></i>
      <span>编辑</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-2">书名</label>
              <div class="col-md-10">
                <input type="text" class="form-control" ng-model="vmEdit.book_detail.name" placeholder="书名">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">作者</label>
              <div class="col-md-10">
                <input type="text" class="form-control" ng-model="vmEdit.book_detail.author" placeholder="作者">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">简介</label>
              <div class="col-md-10">
                <input type="text" class="form-control" ng-model="vmEdit.book_detail.profile" placeholder="简介">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">上架/下架</label>
              <div class="col-md-10">
                <label class="ui-switch"><input type="checkbox" checked><i></i></label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">当前进度</label>
              <div class="col-md-10">
                <div class="col-sm-4"><uib-progressbar class="progress-striped active" value="78"></uib-progressbar></div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">上传图片/修改图片</label>
              <div class="col-md-10">
                <input type="file" nv-file-select uploader="vmEdit.uploader">
                <ul>
                  <li ng-repeat="item in vmEdit.uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br>
                    <button ng-click="item.upload()">upload</button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">上传图片</label>
              <div class="col-md-10">
                <span class="qiniu-upfile btn btn-primary">
                  <span>
                    <i class="glyphicon glyphicon-plus"></i>
                    <slot>文件上传</slot>
                  </span>
                  <!-- <input type="file" ng-change="vmEdit.uploadToQiniu()" id="self-qiniu-upload"> -->
                  <input type="file" onchange="angular.element(this).scope().vmEdit.uploadToQiniu()" id="self-qiniu-upload">
              </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">详情</label>
              <div class="col-md-10">
                <input type="textarea" class="form-control" ng-model="vmEdit.book_detail.detail" placeholder="书籍详情">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2"  uib-tooltip-html="vmEdit.tipsTem" tooltip-class="customTipsClass" tooltip-placement="top">推荐指数</label>
              <div class="col-md-10">
                <span uib-rating 
                  class="ui-rating"
                  ng-model="vmEdit.book_detail.rate"
                  max="vmEdit.max"
                  readonly="vmEdit.isReadonly"
                  on-hover="vmEdit.hoveringOver(value)"
                  on-leave="vmEdit.overStar = null"
                  state-on="'glyphicon-star'"
                  state-off="'glyphicon-star-empty'"
                ></span>
                <span class="btn btn-primary" ng-if="vmEdit.hover">{{vmEdit.overStar}}颗星</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary" ng-click="vmEdit.submit()" uib-tooltip="小提示" tooltip-placement="right">修改/新增</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
